VITE_SUPABASE_URL=https://jzmxlryrzyonqnhikkrh.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp6bXhscnlyenlvbnFuaGlra3JoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIzNzE0NzIsImV4cCI6MjA4Nzk0NzQ3Mn0.LLlJOL9sqAWHDjXZCXmXfc6gk2jWQvNmpighAfGbJhI
